########################
# DJ-Raspi config file #
########################

secret_key = {{ secret_key }}

# Super user
username = {{ super_user }}
password = {{ super_password }}

# Service host
listen = {{ listen }}
port = {{ port }}
allowed_hosts = {{ allowed_hosts }}