########################
# DJ-Raspi config file #
########################

secret_key: "{{ secret_key }}"

# Super user
admin_user: "{{ admin_user }}"
admin_email: "{{ admin_email }}"
admin_password: "{{ admin_password }}"

# Service host
listen: "{{ listen }}"
port: "{{ port }}"
allowed_hosts: "{{ allowed_hosts }}"
